

			
				<ul class="cards" id="cardContainer">
          {% for product in products  %}
             <li class="cards__item">
            <div class="card">
                <img src="{{ url_for('static', filename='img/products/' ~ product.img) }}" alt="{{product.nombre}}" class="card__image card__image--fence">
                <div class="card__content">

                  <div class="card_title">
                      {{product.name}}
                  </div>
                  <p class="card__text">
                     ${{product.price}}
                  </p>
                  <div class="details-container">
                    <button class="btn btn-block card__btn">
                      Detalles
                    </button>
                    <a href="" class="cart-button fa-solid fa-cart-arrow-down">
                      Agregar
                    </a>
                  </div>
                </div>
            </div>
           </li>
          {% endfor %}
				  
					
				  </ul>










