{% extends "base.html" %}

{% block title %}
  Disclaimer
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/personales/presentationCard.css')}}">

{% endblock css %}

{% block content %}
   <div id="main">

        <section id="container-jumbotron">
          <header id="header">
	
          </header>
            <div class="jumbotron">
                <div class="jumbotron__container">
                  <h1 id="jumbotron-title">AVISO IMPORTANTE</h1>
                </div>
              </div>
              <div>
                <div class="us-container">
               
                  <h2 >Disclaimer</h2>
                  <div>
                    <p>
                        Este sitio web fue creado como un proyecto para el curso de Python FullStack dictado por el programa
                    Codo A Codo en el primer cuatrimestre del año 2024.
                    </p>
                    <p>
                        Todas las imágenes, íconos y demás recursos les pertenecen a sus respectivos dueños. La intención de este 
                        proyecto es sólo la de mejorar las cualidades técnicas en las tecnologías de CSS, HTML, Javascript, Git, Github, entre otras.
                        <strong>NO ES INTENCIÓN DE LOS MIEMBROS DEL GRUPO APODERARSE DE NINGÚN MATERIAL PRESENTADO EN ESTE SITIO. EL ÚNICO FIN ES DIDÁCTICO</strong>
                    </p>
                     <p>Sitios Usados De Referencia</p>
                    <ul>
                        <li>
                            <a href="https://www.mundosetmatero.com/reembolso-y-devoluciones/" target="blank">
                                Mundo Set Matero
                            </a>
                        </li>
                        <li>
                            <a href="https://www.afrikatienda.com.ar/equipos-de-mate" target="blank">
                                Afrika Tienda
                            </a>
                        </li>
                        
                        <li>
                            <a href="https://www.tomamatetienda.com.ar/" target="blank">
                                Toma Mate
                            </a>
                        </li>

                        <li>
                            <a href="https://www.un-mate.com.ar/" target="blank">
                                Un Mate
                            </a>
                        </li>
                        <li>
                          <a href="https://www.flaticon.es/iconos-gratis/rechazado" title="rechazado iconos">Rechazado iconos creados por Andrean Prabowo - Flaticon</a>
                        </li>



                    </ul>
                  </div>
                </div>
              
              </div>
             

        </section>
        
    
        
      </div>
{% endblock content %}





<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="./assets/css/personales/presentationCard.css">
    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
  
    <title>Disclaimer</title>
</head>

<body>
   
   
  
    <footer id="footer">

    </footer>


    <script src="assets/js/personales/config.js"></script>
    <script src="assets/js/personales/insertNavBarAndFooter.js"></script>
    <script src="assets/js/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>