
{% extends "base.html" %}
{% block title %}
  Home
{% endblock title %}
{% block css %}
  	
	  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/personales/carrouselCss.css') }}" type="text/css">
     <link rel="stylesheet" href="{{ url_for('static', filename = 'css/personales/productCardStyle.css') }}" type="text/css">
	


{% endblock css %}




	
		
{% block content %}´

<div class="carrusel-box">
			<div class="btn-left">
				<i class="fa-solid fa-less-than"></i>
			</div>
			
			<div class="container-carrusel">
				
				<div class="carruseles" id="slider">
					<div class="slider-section" id="1"><img src="{{ url_for('static', filename = 'img/banners/hotsale.png') }}" alt="Banner 1"></div>
					<div  class="slider-section" id="2"><img src="{{ url_for('static', filename = 'img/banners/banner2.jpeg') }}"img src="assets/img/banners/banner2.jpeg" alt="Banner 2"></div>
					<div class="slider-section" id="3"><img src="{{ url_for('static', filename = 'img/banners/banner3.png') }}" alt="Banner 3"></div>
					
					
				</div>
				
				
		    </div>

			<div class="btn-rigth">
				<i class="fa-solid fa-greater-than"></i>
			</div>
	
		</div>

     <section style="margin-top:25px;">
			<h1 id="title-mas-vendidos" style="text-align: center;">Productos Más Vendidos</h1>
			
				<ul class="cards" id="cardContainer">
				   <li class="cards__item">
            <div class="card">
                <img src="{{ url_for('static', filename = 'img/mate3.png') }}" alt="" class="card__image card__image--fence">
                <div class="card__content">

                  <div class="card_title">
                      Producto de prueba
                  </div>
                  <p class="card__text">
                      Precio a revisar
                  </p>
                  <div class="details-container">
                    <button class="btn btn-block card__btn"></button>
                    <a href="" class="cart-button fa-solid fa-cart-arrow-down"></a>
                  </div>
                </div>
            </div>
           </li>
					
				  </ul>
			
		</section>
{% endblock content %}


{% block scripts %}
  <script src="{{ url_for('static', filename = 'js/personales/carrousel.js') }}" ></script>

{% endblock scripts %}
		
		
		