{% extends "base.html" %} 
{% block Title %} Inicio Sesión {% endblock Title %}
{% block content %}

<form action="{{url_for('login')}}" method="POST" novalidate>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
 <!--Otra forma de colocar el csrf_token:
    {{form.csrf_token()}}

-->
  {% if session.username %}
    <div class="alert alert-success">
      {{session.email}}
    </div>
  {% endif %}
  {% with messages=get_flashed_messages(with_categories=True) %}
    {% if messages %}
            <ul>
          {% for category,msg in messages %}
              <li>
                  {{msg}}
              </li>
          {% endfor %}
        </ul>
    {% endif %}
  {% endwith %}
  <div>
         {{form.hidden_tag()}}
         <div>
               {{form.emailField.label(class='text-danger')}}{{form.emailField(class='bg-success')}}
               {% if form.emailField.errors %}
               <div>
                   <small class="text-danger">
                    {{form.emailField.errors[0]}}

                </small>
               </div>
               
               {% endif %}
         </div>

         <div>
            {{form.passwordField.label}}{{form.passwordField}}
              {% if form.passwordField.errors %}
                <div>
                
                    <small class="text-danger">
                        {{form.passwordField.errors[0]}}

                    </small>
                  
                </div>
             {% endif %}
         </div>
 
  
  </div>
 
{{form.submit}}
</form>

{% endblock content %}
