{% extends "base.html" %}
{% block title %}
    Políticas De Privacidad
{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/personales/accordionCss.css')}}" type="text/css">
{% endblock css %}

{% block content %}

	<div class="main">
        
        <section class="accordion-set">
            <h1>POLITICAS DE NAVEGACIÓN</h1>
            <details>
                <summary>
                    RESTRICCIONES A LOS CONTENIDOS
                </summary>
                <div>

                
                    Se prohibe subir, escribir o comentar cualquier tipo de contenido de caracter 
                    delictivo. Esto incluyo, aunque no limitado a:
                    <ul>
                        <li>
                            Audios ofensivos, obscenos, disminatorios, xenófobos, y demás tipo de 
                            discursos que puedan afectar a la terceros.
                        </li>
                        <li>
                            Imágenes de caracter sexual o pornográfico. 
                        </li>
                        <li>
                            Discursos que fomenten la discriminación, agresión, abuso, ataque y
                            demás que pueda fomentar la agresión física o verbal a terceros. Ya 
                            sean instituciones o personas individuales
                        </li>
                    </ul>
                    Cualquier tipo de contenido mencionado o similar a discreción de los administradores
                    del sitio, será almacenado y entregado a las autoridades pertinentes.
                </div>
            </details>

            <details>
                <summary>
                    PRESERVACIÓN DE DATOS
                </summary>
                <p>
                  Todos los datos solicitados al cliente al momento de registrarse en el sitio,
                  al momento de realizar algún contacto con nosotros por formulario o al momento 
                  de realizar las compras, están protegidas por las leyes nacionales e internacionales
                  sobre datos personales.
                  Al momento de dar de baja su cuenta, todos los datos serán almacenados en nuestras 
                  bases de datos para cuestiones de análisis de datos y publicidad.
                  Bajo ninguna circunstancia compartimos o vendemos sus datos a terceros. Exceptuando
                  el pedido judicial de una autoridad superior.
    

                </p>
            </details>

            <details>
                <summary>
                   POLíTICAS DE TÉRMINOS Y CONDICIONES
                </summary>
                <p>
                    Esta política de términos y condiciones de El Almacen Del Mate está destinada para todos los usuarios que hagan compras a través de la web o cualquiera de los canales de ventas digitales y físicos.
                </p>
                <ol>
                    <li>
                        Al realizar una compra por medio de cualquiera de los medios digitales, el cliente se compromete a aceptar todos los términos y condiciones de El Almacen Del Mate, por esa razón la empresa recomienda informarse bien respecto al producto o los productos que vaya a adquirir antes de realizar la compra, ya que al momento de realizar el respectivo pago se está comprometiendo y aceptando cado uno de los términos y condiciones de la empresa.
                    </li>
                    <li>
                        Los cambios y devoluciones se ejecutan dentro de los 30 días luego de efectuar la compra, además para poder proceder un cambio o una devolución de cualquier producto, este se debe encontrar en perfecto estado y sin uso alguno, de lo contrario el cambio o devolución será negada rotundamente.
                    </li>
                    <li>
                        La empresa no se hace responsable por perdidas, hurtos, daños de los productos en el transcurso del envío desde nuestra fábrica, depósito o showroom, para dichos reclamos, hacerlos a quien corresponde, en este caso seria a Correo Argentino, que es el único transporte nacional con el que trabajamos. En el caso de envíos internacionales solo trabajamos con FedEx, a través del transporte aéreo con servicio puerta a puerta.
                    </li>
                    <li>
                        Todas nuestras encomiendas, ya sean para envíos nacionales e internacionales, son enviados con estrictos controles de calidad, además las cajas son embaladas correctamente para cada tipo de producto y son selladas con cinta de seguridad, la cual al momento de ser entregada dicha encomienda, recomendamos que la cinta de seguridad este en perfecto estado, de lo contrario efectuar el reclamo con quien corresponda.
                    </li>
                    <li>
                        Para cambios de productos por defectos de fábrica o fallas, se deben realizar dentro de los 30 días posterior a la compra y además el producto se debe encontrar sin uso y en perfecto estado, de lo contrario el cambio o devolución no será validada. Sin embargo, para otros productos, la garantía es de por vida, siempre y cuando el producto se le dé un empleo debido, ya que si se hace un reclamo con productos con garantía de por vida se debe determinar la razón por la cual el producto fallo, pero si se determina que el producto tuvo un mal empleo, la garantía no será validada.
                    </li>
                </ol>





                
            </details>

            <details>
                <summary>
                    ¿TIENE GARANTÍA MI MATE?
                </summary>
                <p>
                    Tenemos 1 mes de garantía por FALLAS DE FÁBRICA notorias que impidan su 
                    uso. En caso de que esto ocurra, verificaremos el problema y trataremos 
                    de resolverlo lo antes posible. 
                    La calabaza al ser un fruto natural, puede variar en tamaño y forma en 
                    todos los mates. El trabajo que conllevan nuestros mates es 100% 
                    artesanal, en el que se trata de lograr la perfección; siempre teniendo 
                    en cuenta que es realizado a mano y no por ninguna máquina.

                </p>
            </details>

       
        </section>
        
        <section class="accordion-set">
            <h1>FAQS</h1>
            <details>
                <summary>
                    ¿CUÁLES SON LAS FORMAS DE PAGO?
                </summary>
                <p>
                    Podes realizar el pago con tarjeta de débito/crédito en hasta 3 cuotas sin interés con 
                    cualquier tarjeta seleccionando MERCADOPAGO al momento del pago.
                </p>
            </details>

            <details>
                <summary>
                    ¿HACEN ENVIOS?
                </summary>
                <p>
                    ¡Si!
    ENVIOS EN ARGENTINA: Podes cotizar el valor con tu código postal, al abrir un producto en nuestra tienda online. Tenemos envíos express a domicilio en CABA .También, enviamos por OCA a todo el país.
    ENVIOS INTERNACIONALES: Una vez hecha la compra por: www.mateandoshop.com se te enviará de forma 100% GRATIS tu envío por Fedex. El mate une fronteras :)

                </p>
            </details>

            <details>
                <summary>
                    ¿TODOS LOS MATES SON IGUALES?
                </summary>
                <p>
                    ¡No todos! Debido a que el trabajo de todos nuestros mates es 100% artesanal, no existen dos unidades iguales. Además, en los mates de calabaza, al realizarse 
                    sobre un fruto natural, los tamaños y formas varían constantemente.
                </p>
            </details>

            <details>
                <summary>
                    ¿TIENE GARANTÍA MI MATE?
                </summary>
                <p>
                    Tenemos 1 mes de garantía por FALLAS DE FÁBRICA notorias que impidan su uso. En caso de que esto ocurra, verificaremos el problema y trataremos de resolverlo lo antes posible. 
La calabaza al ser un fruto natural, puede variar en tamaño y forma en todos los mates. El trabajo que conllevan nuestros mates es 100% artesanal, en el que se trata de lograr la perfección; siempre teniendo en cuenta que es realizado a mano y no por ninguna máquina.

                </p>
            </details>


        </section>
        
      </div>

{% endblock content %}


