<footer class="footer">
  <div  class="footer-container" id="footer-container">
     <div class="footer-row">
  <div class="footer-links">
      <h4>Comercialización</h4>
      <ul>
          <li>
              <a href="aboutUs.html">
                  ¿Quienes Somos?
              </a>
              
          </li>
          <li>
              <a href="policy.html">
                  Politicas
              </a>
             
          </li>
          <li>
              <a href="contactForm.html">
                  Contacto
              </a>
             
          </li>
      </ul>
  </div>
  <div class="footer-links">
      <h4>Contactos</h4>
      <ul>
          <li>
  
              <i class="fa-solid fa-mobile-screen">
                  3794-876543
              </i>
              
          </li>
          <li>
              <i class="fa-regular fa-envelope">
                  almacen_de_mates@almacen.com
              </i>
              
          </li>
          <li>
              <i class="fa-solid fa-house">
                  Calle Evergreen 1234
              </i>

              
          </li>
      </ul>
  </div>
  <div class="footer-links">
  <h4>Sesion</h4>
  <ul>
      <li>

      <a href="registerForm.html">

 
         Registrarse
     
      </a>

          
          
      </li>

      <li>

      <a href="formLogin.html">
  
          Inicio Sesion
    
      </a>

          
          
      </li>
     
  </ul>
</div>
  <div class="footer-links">
      <h4>Contáctanos</h4>
      <div class="footer-social">
          <a href="">
              <i class="fa-brands fa-facebook-messenger">
                 
              </i>
          </a>
          <a href="">
              <i class="fa-brands fa-x-twitter">
                 
              </i>
          </a>
          <a href="">
              <i class="fa-brands fa-square-instagram">
                  
              </i>
          </a>
        
      </div>
      
  </div>
</div>
  </div>
</footer>